<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>출석 관리</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>

    <!—        <script th:src="@{/js/attendance.js}"></script> &lt;!&ndash; JavaScript file for handling button clicks &ndash;&gt;—>


    <!—    <script src="/js/attendance.js"></script>—>
</head>
<body>

this is here
<p th:text="${haha}"></p>


<!—<button id="enterButton" onclick="registerEnter()">입실</button>—>
<!—<button id="exitButton" onclick="registerExit()">퇴실</button>—>

<!--<!—<p id="enterTimeLabel">입실 시간: <span th:text="${attStart}"></span></p>—>-->
<!--<!—<p id="exitTimeLabel">퇴실 시간: <span th:text="${attFinish}"></span></p>—>-->
<!--<!—<p id="statusLabel">상태: <span th:text="${attContent}"></span></p>—>-->

</body>
</html>
